@keyframes slideNav {
  0% {
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  visibility: visible;
  }

  100% {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  }
  }


@keyframes slideNav2 {
0% {
-webkit-transform: translateX(0);
transform: translateX(0);
}
100% {
visibility: hidden;
-webkit-transform: translateX(-100%);
transform: translateX(-100%);
}
}

.Header {
  &-topHead {
    background-color: #0ba7c8;
    height: 5px;
    width: 100vw;
  }
  &-container {
    display:flex;
    background-color:#fff;
    height:50px;
    width:100vw;
    padding-top:10px;
    padding-left:20px;

  }
  &-barMenu {
    margin-top:10px;
  }
  &-barMenuItem {
    width:25px;
    height:3px;
    margin-bottom:4px;
    background-color:#da0751;
    margin-right:30px;

  }
  &-logoContainer {
    width:100%;
    text-align:center;
    position:relative;
  }
  &-logo {
    position: absolute;
    transform: translate(-70%, 0%);
  }
  &-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    animation-duration: 1s;

  }
  &-modalOverlay {
    position: fixed;
    z-index:-1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:#fff;
  }
  &-modalContent {
    position:relative;
  }
  &-modalTop{
    position:relative;

  }
  &-modalCross {
    width:30px;
    height:30px;
    position:absolute;
    top:25px;
    right:8%;

  }
  &-search {
    width: 60%;
    border-radius: 3px 0 0 3px;
    border-right: 0;
    color: #666;
    padding: 3px 5px 1px 10px;
    font-size: 14px;
    background-color: #fafafa;
    height: 35px;
    border: 1px solid #e6e6e6;
    float:left;
    margin-left:5%;
    margin-top:20px;

  }
  &-button {
    border-radius: 0 3px 3px 0;
    padding: 0;
    vertical-align: top;
    width: 41px;
    font-size: 14px;
    background-color: #fafafa;
    height: 41px;
    border: 1px solid #e6e6e6;
    margin-top:20px;
  }
  &-user{
    display:flex;
    width:100%;
    margin-left:7%;
    margin-top:5%;

  }
  &-inscriptionContainer {
    height:30px;
    width : 35%;
    background-color: #da0751;
    color: #fff;
    border-radius: 3px;
    text-align:center;
    padding-top:11px;
    margin-right:10px;
    margin-right:10%;



  }
  &-inscriptionLink {
    color: #fff;
    font-family: 'Open Sans',sans-serif;
    font-size: 16px;
    font-weight : 600;
    text-decoration:none;
    text-transform: uppercase;
    line-height: 13px;

  }
  &-connexionContainer {
    height:30px;
    width : 35%;
    background-color: #f2f2f2;
    border-radius: 3px;
    text-align:center;
    padding-top:11px;
    margin-right:10px;



  }
  &-connexionLink {
    color: #1c1c1c;
    font-family: 'Open Sans',sans-serif;
    font-size: 16px;
    font-weight : 600;
    text-decoration:none;
    text-transform: uppercase;
    line-height: 13px;

  }
  &-modalMenuContainer{
    margin-top:5%;
  }
  &-modalMenuItem {
    font-size: 25px;
    height: 70px;
    line-height: 70px;
    text-align: left;


  }
  &-modalMenuLink {
    color: #000;
    padding: 0 15px;
    background-color: #fff;
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
    display: block;
    text-decoration: none;
    cursor: pointer;

  }
  &-modalMenuLinkBlue {
    color:#0ba7c8;
  }

  &-partagerContainer {
    height:30px;
    width : 80%;
    background-color: #0ba7c8;
    border-radius: 3px;
    text-align:center;
    padding-top:11px;
    margin-left:8%;
    margin-top:5%;

  }
  &-partagerLink {
    color: #fff;
    font-family: 'Open Sans',sans-serif;
    font-size: 16px;
    font-weight : 600;
    text-decoration:none;
    text-transform: uppercase;
    line-height: 13px;

  }
  &-social {
    width:100%;
    text-align:center;
    margin-top:5%;
  }
  &-socialImg {
    height: 55px;
    width: 55px;
    padding-right:10px;
  }

}
  /*
  &-form {
    margin-right:30px;
  }
  &-search {
    width: 205px;
    border-radius: 3px 0 0 3px;
    border-right: 0;
    color: #666;
    padding: 3px 5px 1px 10px;
    font-size: 14px;
    background-color: #fafafa;
    height: 35px;
    border: 1px solid #e6e6e6;
    float: left;
  }
  &-button {
    border-radius: 0 3px 3px 0;
    padding: 0;
    vertical-align: top;
    width: 41px;
    font-size: 14px;
    background-color: #fafafa;
    height: 41px;
    border: 1px solid #e6e6e6;
  }
  &-social {
    margin-right:30px;
  }
  &-socialImg {
    height: 43px;
    width: 43px;
    padding-right:10px;
  }
  &-user{
    display:flex;
  }
  &-inscriptionContainer {
    height:30px;
    width : 110px;
    background-color: #da0751;
    color: #fff;
    border-radius: 3px;
    text-align:center;
    padding-top:11px;
    margin-right:10px;


  }
  &-inscriptionLink {
    color: #fff;
    font-family: 'Open Sans',sans-serif;
    font-size: 13px;
    font-weight : 600;
    text-decoration:none;
    text-transform: uppercase;
    line-height: 13px;

  }
  &-connexionContainer {
    height:30px;
    width : 110px;
    background-color: #f2f2f2;
    border-radius: 3px;
    text-align:center;
    padding-top:11px;
    margin-right:10px;


  }
  &-connexionLink {
    color: #1c1c1c;
    font-family: 'Open Sans',sans-serif;
    font-size: 13px;
    font-weight : 600;
    text-decoration:none;
    text-transform: uppercase;
    line-height: 13px;

  }
  &-partagerContainer {
    height:35px;
    width:40px;
    background-color: #0ba7c8;
    border-radius: 3px;
    text-align:center;
    padding-top:11px;
    margin-right:10px;


  }
  &-partagerLink {
    color: #fff;
    font-family: 'Open Sans',sans-serif;
    font-size: 13px;
    font-weight : 600;
    text-decoration:none;
    text-transform: uppercase;
    line-height: 13px;

  }
}*/
